# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/*

# to activate venv, .venv\Scripts\activate.bat

*.pyc
__pycache__/

*.cache/

# ignore bias_assessments, historical_data, and signal_data folders
bias_assessments/
historical_data/ 
price_summaries/